
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap') */

*{margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
   list-style: none;
   
  }


  .ofertas {

 background-color:  #222222;
 height: 20px;
 display: flex;
 justify-content: space-between;


  }


  .ofertas .texto-ofertas{
    color:#F3F3F3;
    font-weight: 142px;
    line-height: 12px;
    padding: 4px 40px;
  
 
  }

  .ofertas .ul{
    display: flex;
    gap: 12px;
    
   
  }

  .ofertas .ul img{
    width: 10px;
    margin-left: 3px;

  }



  header{
background-color:#F0A83E;
width: 100%;
height: 62px;
display: flex;
justify-content: space-between ;
align-items: center;


  }

  header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 12px;
  }
  .header-conten{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
margin: 0 52px;
  }
  header .logo{
  color: #3C2313;
  font-weight: 700;
font-size: 40px;
line-height: 23px;
  
  }
   
  
 .Dog {
  color: #FFFFFF;
 }

  header ul li {
  color: #FFFFFF;
  font-weight: 5;
  font-size: 20px;
  line-height: 15px;
}


.section-img
{
background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 600px;
}


.section-img {
  display: flex;
  justify-content: right;
  align-items: center;
  
}

@media (max-width:677px) {
  .section-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}

.div-mae{margin-right: 12px;
  text-align: center;
}



.section-img .prazer{
  background-color:#FFFFFF;
  width: 365px;
  height: 54px; 
  border-radius: 5px; 
  padding: 13px;
 font-weight: 400;
font-size: 30px;
line-height: 35px;
color:  #3C2313;
}

.section-img p{
margin: 12px;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 19px;
color: #3C2313;
}

.COMEDOUROS {
  background-color: #F0A83E;
  width: 141px;
height: 20px;
  margin: auto;
  padding: 15px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
text-align: center;
}


.destacados{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.destacados h1{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
color:  #3C2313;


}

.destacados ul{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #666666;
}


.carg-img{
  display: flex;
  justify-content: space-around;
  margin: 0 95px;
}
.carg-img div{
  text-align: center;
}

.carg-img img{
  width: 465px;
height: 468px;
}

.carg-img h3{
font-family: 'Roboto';
font-style: normal;
font-weight: 900px;
font-size: 26px;
line-height: 18px;
color: #3C2313;
}

.carg-img p{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 18px;
color: #F0A83E;
margin: 10px;
}

.section-dados{
  display: flex;
  justify-content: center;
  
}

.section-dados h1{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
color:#3C2313 ;
margin-bottom: 20px;
text-align: center;

}

.card-dados form {
display: flex;
flex-direction: column;
gap: 12px;
flex-wrap: wrap;
}

.card-dados input{
  
background: #3C2313;
border-radius: 15px;
 width: 340px;
height: 40px;

}

.botoes{
  display: flex;
  align-items: center;
 justify-content: center ;
 border-radius: 15px;
 margin-top: 41px ;
 margin-bottom: 41px;
 gap: 20px;
 
}

.botoes button{
width: 110px;
height: 34px;
border-radius: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;


}



.limpar {
 background-color:  #8A8787;}

 .Enviar {
  background-color:  #F0A83E;

}


.div-footer {
background-color: #F0A83E;
width: 100%;
height: 60px;
display: flex;
justify-content: space-between;
padding: 0px 24px;
align-items: center;
 }

 .div-footer img {margin-right: 5px;}

 .div-footer h3 {
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
top: 0px;
 }
 @media (max-width:708px) {
  footer .div-footer {
    display: flex;
    flex-direction: column;
    height: 5rem;
    padding-bottom: 0,3rem;
  }

}

 .div-footer .informe {display: flex;}

 .informe input {
  width: 271px;
height: 40px;
background-color: #FFFFFF;
border-radius: 15px;
 }

.informe button {
  width: 70px;
height: 34px;
margin-left: 12px;

background-color: #3C2313;
border-radius: 15px;
color: #FFFFFF;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 9px;
line-height: 11px;
}

footer {
  background-color:#3C2313;
  width: 100%;
height: 324px;

}

footer .icones{
  display: flex;
  flex-direction: column;
  margin: 23px;
  gap: 12px;
}

.informaçao {
width: 100%;
display: flex;
justify-content: space-between;
}

@media (max-width:708px) {
  footer .informaçao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30rem ;
    
   

  }

}
.logo-footer{
  display: flex;
align-items: center;  
}

footer .logo{
  color: #FFFFFF;
  font-weight: 700;
font-size: 40px;
line-height: 23px;
  
  }
   span {
   color: #F0A83E;
   font-weight: 700;
font-size: 40px;
line-height: 23px;
  }

footer .card-contatos{
  display: flex;
}



footer h3 {
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
margin-left: 12px;
}

.card-contatos p {
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 12px;
color: #8A8787;
}


.todos{
  width: 100%;
height: 40px;
background-color: #222222;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 12px;
color: #FFFFFF;
text-align: center;
padding: 10px;
margin-top: -10px;
}

